body {
    height: 100vh;
    background: #E0E0E0 url('Assets/circle_line.png') no-repeat center center;
    background-size: contain;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    cursor: none;
}

.container {
    text-align: center;
}


#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3333336d;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.5s ease;
    z-index: 1000;
}

#cursor.pointer {
    transform: scale(2);
}